/target
**/*.rs.bk
*.so
**/Cargo.lock
**/target

flame-graph.html

perde-testgen/json
perde-testgen/yaml
perde-testgen/msgpack

perde-tests/data

.python-version
__pycache__/
*.py[cod]
*$py.class
Pipfile.lock

docs/book
