[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
maturin = "~=0.8"
pytest = "~=6.0"
pytest-benchmark = "~=3.2"
pygal = "~=2.4"
pygaljs = "~=1.0"
flake8 = "~=3.8"
mypy = "~=0.790"
black = "~=20.8b1"
twine = "~=3.2"

pyserde = "~=0.2"
mashumaro = "~=1.15"
marshmallow = "~=3.9"
attrs = "~=20.3"
cattrs = "~=1.1"

orjson = "~=3.3"
ujson = "~=3.1"
msgpack = "~=1.0"
toml = "~=0.10"
pyyaml = "~=5.3"